<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="AM4Play.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <AM4Play.Properties.Settings>
            <setting name="ExternalPlayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Interpolation" serializeAs="String">
                <value>4294967295</value>
            </setting>
            <setting name="Options" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RATE" serializeAs="String">
                <value>32000</value>
            </setting>
            <setting name="FastSeek" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BITS" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="CHANNELS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Engine" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>65536</value>
            </setting>
            <setting name="Timer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Minutes" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FrameRate" serializeAs="String">
                <value>50</value>
            </setting>
        </AM4Play.Properties.Settings>
    </userSettings>
</configuration>
